@import "axis/utilities"
@import "~jeet"

.test-box
    gradient(#F7FBF5, white)
    .test-box-content
        margin-bottom : -6px
    .coverage-bar
        stack()
        margin-left :8px
    .pie-chart
        div
            col(1/2)
        .chart
            height :100%
        .pie-percent
            color:black
            margin-top :40px
            padding-left : 5px
            text-align :center
            div
                stack()
            .big-number
                font-size: 2.3rem
            .number-meaning
                line-height 2rem
                font-size: .6rem
                display :inline-block


