// ------------------------------------------------------------------------------------------
//                                      Arrows - Metrics
// ------------------------------------------------------------------------------------------

#metrics
    .mtr-content
        margin-left: -12px
        .mtr-arrow
            div
                center()
            position :relative
            height :50%
            span(1/2, cycle:2)
            &:nth-child(1n)
                color: white
            &:nth-child(1n + 3)
                color: black
            img
                center()
                height : 53px
            .mtr-arrow-amount
                center()
                text-align :center
                margin-top: -36px
        .mtr-arrow-desc
            stack()
            color: black
            font-size : .8rem
            text-align :center
            margin-top: 18px






